<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--指定连接数据库的驱动-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--指定连接数据库的url-->
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernate_doc</property>
        <!--连接数据库的用户名-->
        <property name="connection.username">basic</property>
        <!--连接数据库的密码-->
        <property name="connection.password">000000</property>
        <!--数据库方言-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!--启用hibernate的自动-->
        <property name="current_session_context_class">thread</property>
        <!--指定数据库连接池的最大连接数-->
        <property name="hibernate.c3p0.max_size">20</property>
        <!--指定数据库连接池的最小连接数-->
        <property name="hibernate.c3p0.min_size">5</property>

        <!-- 关闭二级缓存  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>

        <!--显示生成的SQL -->
        <property name="show_sql">true</property>

        <!-- 每次创建SessionFactory时,如果数据库中没有与持久化类对应的表，Hibernate会自动创建表，通常配置为update -->
        <property name="hbm2ddl.auto">update</property>

        <!--包含持久类的映射文件-->
        <mapping resource="hbm/User.hbm.xml"/>
    </session-factory>
</hibernate-configuration>